In [1]:
import pandas as pd
import re

In [20]:
# import raw data
data = pd.read_csv('semistructured_data.csv')

In [21]:
df = pd.DataFrame(data)

### Here, we replace all '\n' strings with empty strings, and remove all whitespaces in the text column

In [22]:
# replacing all '\n' lines with empty string
df['text'] = df['text'].str.replace('\n', '')

# stripping all whitespace from cells 
df['text'] = df['text'].str.strip()

### round decimal places to assist with string manipulation

### use regex to identify patterns within the x1 coordinates

In [23]:
# rounding decimal places for pdf coordinates for string manipulation 
df['x1'] = df['x1'].round(4)
df['y1'] = df['y1'].round(4)
df['x2'] = df['x2'].round(4)
df['y2'] = df['y2'].round(4)
df['xbar'] = df['xbar'].round(4)
df['ybar'] = df['ybar'].round(4)

# converting number values in coordinate columns to strings
df['x1'] = df['x1'].apply(str)
df['y1'] = df['y1'].apply(str)
df['x2'] = df['x2'].apply(str)
df['y2'] = df['y2'].apply(str)
df['xbar'] = df['xbar'].apply(str)
df['ybar'] = df['ybar'].apply(str)

In [24]:
# establishing regex dynamic values to identify row coordinates
x1_pattern = r'(^56?.\d{3,4}$)'
x1_pattern2 = r'(^651?.\d{3,4}$)'
row_x1pattern = r'(^136?.\d{3,4}$)'

### We can see from the dataframe below, that the first column of texts on the first page of PDF are identified.

### This is important as it will be the source coordinate for the respective columns to the right

In [25]:
# create first initial 'issue' dataframe on page 1 of pdf by row coordinates filter, and thereafter sub-string filtering
# reset index after processing
df_issue = df[df['x1'].str.contains(x1_pattern)]
df_issue = df_issue[df_issue['text'].str.contains('Principle|Page')==False].sort_values(by='y1', ascending=False)
df_issue = df_issue[df_issue['y1'].str.contains('72.4786')==False].sort_values(by='y1', ascending=False)
df_issue.reset_index()

<ipython-input-25-2d06c8483021>:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  df_issue = df[df['x1'].str.contains(x1_pattern)]

,index,x1,y1,x2,y2,text,xbar,ybar
0,100,56.6981,491.9839,82.1973,525.4965,Issue,69.4477,508.7402
1,103,56.697,473.4049,127.7041,481.4049,Climate protection,92.2006,477.4049
2,134,56.6828,458.1535,58.7628,466.1535,,57.7228,462.1535
3,135,56.6848,442.9003,58.7648,450.9003,,57.7248,446.9003
4,136,56.6841,427.6479,58.7641,435.6479,,57.7241,431.6479
5,137,56.6882,401.5003,58.7691,420.395,,57.7287,410.9476
6,130,56.681,375.3541,112.4062,394.2485,Fuels and raw material,84.5436,384.8013
7,138,56.6831,360.1011,58.7631,368.1011,,57.7231,364.1011
8,139,56.6804,344.8491,58.7604,352.8491,,57.7204,348.8491
9,140,56.6795,329.5967,58.7595,337.5967,,57.7195,333.5967
10,141,56.6789,314.344,58.7589,322.344,,57.7189,318.344
11,156,56.6921,299.0897,123.0368,307.0897,Employee health,89.8645,303.0897
12,159,56.6878,283.8373,89.0078,291.8373,& safety,72.8478,287.8373
13,142,56.7003,268.5837,58.7803,276.5837,,57.7403,272.5837
14,143,56.6909,253.332,58.7709,261.332,,57.7309,257.332
15,144,56.6871,238.0793,58.7671,246.0793,,57.7271,242.0793
16,145,56.6779,211.9339,58.7585,230.8283,,57.7182,221.3811
17,146,56.6942,185.7841,58.7752,204.6788,,57.7347,195.2314
18,147,56.6989,159.6366,58.7795,178.5313,,57.7392,169.0839
19,148,56.693,144.3844,58.773,152.3844,,57.733,148.3844
20,149,56.6855,118.2373,58.7664,137.132,,57.726,127.6846
21,183,56.6771,102.9866,222.4716,110.9866,Emission reduction Speciﬁc NO emissions,139.5744,106.9866

### Below are the first column of texts from the second page of the PDF

In [26]:
# create second 'issue' dataframe on page 2 of pdf by row coordinates filter
df_issue2 = df[df['x1'].str.contains(x1_pattern2)]
df_issue2 = df_issue2.sort_values(by='y1', ascending=False)
df_issue2

<ipython-input-26-5bfbf9df11a8>:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  df_issue2 = df[df['x1'].str.contains(x1_pattern2)]

,x1,y1,x2,y2,text,xbar,ybar
2,651.9717,730.3297,677.4709,763.8423,Issue,664.7213,747.086
7,651.9725,698.2074,654.0532,717.1018,,653.0128,707.6546
8,651.9712,672.0603,654.0519,690.9547,,653.0115,681.5075
9,651.9697,645.9132,654.0506,664.8079,,653.0102,655.3606
20,651.9693,619.7661,704.6576,638.6605,Local impacts,678.3135,629.2133
10,651.969,593.6187,654.0493,612.5134,,653.0092,603.0661
23,651.975,556.5755,699.5599,586.3649,Biodiversity KPI no.1,675.7675,571.4702
24,651.9684,519.5352,699.5527,549.3243,Biodiversity KPI no.2,675.7606,534.4298
29,651.9744,504.2808,676.3249,512.2808,Water,664.1496,508.2808
11,651.9671,478.1354,654.0483,497.0301,,653.0077,487.5828
12,651.9737,462.8811,654.0537,470.8811,,653.0137,466.8811
13,651.9661,436.7356,654.0468,455.6303,,653.0065,446.183
14,651.9655,421.4829,654.0455,429.4829,,653.0055,425.4829
15,651.9645,406.2307,654.0445,414.2307,,653.0045,410.2307
16,651.9648,380.0831,654.0452,398.9778,,653.005,389.5305

### Appended dataframe which contains first column of text on all pages of PDF

In [27]:
# combining both 'issue' dataframes to create full 'issue' dataframe to work on
df_issue = df_issue.append(df_issue2, ignore_index=True)
df_issue

,x1,y1,x2,y2,text,xbar,ybar
0,56.6981,491.9839,82.1973,525.4965,Issue,69.4477,508.7402
1,56.697,473.4049,127.7041,481.4049,Climate protection,92.2006,477.4049
2,56.6828,458.1535,58.7628,466.1535,,57.7228,462.1535
3,56.6848,442.9003,58.7648,450.9003,,57.7248,446.9003
4,56.6841,427.6479,58.7641,435.6479,,57.7241,431.6479
5,56.6882,401.5003,58.7691,420.395,,57.7287,410.9476
6,56.681,375.3541,112.4062,394.2485,Fuels and raw material,84.5436,384.8013
7,56.6831,360.1011,58.7631,368.1011,,57.7231,364.1011
8,56.6804,344.8491,58.7604,352.8491,,57.7204,348.8491
9,56.6795,329.5967,58.7595,337.5967,,57.7195,333.5967
10,56.6789,314.344,58.7589,322.344,,57.7189,318.344
11,56.6921,299.0897,123.0368,307.0897,Employee health,89.8645,303.0897
12,56.6878,283.8373,89.0078,291.8373,& safety,72.8478,287.8373
13,56.7003,268.5837,58.7803,276.5837,,57.7403,272.5837
14,56.6909,253.332,58.7709,261.332,,57.7309,257.332
15,56.6871,238.0793,58.7671,246.0793,,57.7271,242.0793
16,56.6779,211.9339,58.7585,230.8283,,57.7182,221.3811
17,56.6942,185.7841,58.7752,204.6788,,57.7347,195.2314
18,56.6989,159.6366,58.7795,178.5313,,57.7392,169.0839
19,56.693,144.3844,58.773,152.3844,,57.733,148.3844
20,56.6855,118.2373,58.7664,137.132,,57.726,127.6846
21,56.6771,102.9866,222.4716,110.9866,Emission reduction Speciﬁc NO emissions,139.5744,106.9866
22,651.9717,730.3297,677.4709,763.8423,Issue,664.7213,747.086
23,651.9725,698.2074,654.0532,717.1018,,653.0128,707.6546
24,651.9712,672.0603,654.0519,690.9547,,653.0115,681.5075
25,651.9697,645.9132,654.0506,664.8079,,653.0102,655.3606
26,651.9693,619.7661,704.6576,638.6605,Local impacts,678.3135,629.2133
27,651.969,593.6187,654.0493,612.5134,,653.0092,603.0661
28,651.975,556.5755,699.5599,586.3649,Biodiversity KPI no.1,675.7675,571.4702
29,651.9684,519.5352,699.5527,549.3243,Biodiversity KPI no.2,675.7606,534.4298
30,651.9744,504.2808,676.3249,512.2808,Water,664.1496,508.2808
31,651.9671,478.1354,654.0483,497.0301,,653.0077,487.5828
32,651.9737,462.8811,654.0537,470.8811,,653.0137,466.8811
33,651.9661,436.7356,654.0468,455.6303,,653.0065,446.183
34,651.9655,421.4829,654.0455,429.4829,,653.0055,425.4829
35,651.9645,406.2307,654.0445,414.2307,,653.0045,410.2307
36,651.9648,380.0831,654.0452,398.9778,,653.005,389.5305

In [28]:
# assigning variables for column indices
index_x1 = df.columns.get_loc('x1')
index_y1 = df.columns.get_loc('y1')
index_text = df.columns.get_loc('text')

### The main algorithm below to look for rows throughout the entire dataset with the same x1 coordinates, populating all columns from left to right to the end of the document.

In [29]:
# main for-loop to iterate through dataframe to look for rows with common x1 coordinates for each row.
# Loop also re-sort values for instances the x1 values are not ordered correctly. This is important as it will affect the order in which the rows are arranged.
# lastly, appends each dataframe to a final combined Dataframe

df_final = pd.DataFrame()

for i in range(0, len(df_issue)):
    df_row = df[df['y1'].str.contains(df_issue.iat[i, index_y1])]
    df_row['x1'] = pd.to_numeric(df_row['x1'])
    df_row = df_row.sort_values(by='x1')
    df_row['x1'] = df_row['x1'].apply(str)
    df_row = df_row[['text']].reset_index().T
    df_row = df_row[1:]
    df_final = df_final.append(df_row, ignore_index = True)

<ipython-input-29-3d8176193600>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_row['x1'] = pd.to_numeric(df_row['x1'])

In [30]:
# removing any rows with duplicate values and resets the index
df_final = df_final.drop_duplicates().reset_index(drop=True)

In [31]:
# using the first row of dataframe as header
header = df_final.iloc[0]
df_final = df_final[1:]
df_final.columns = header
df_final = df_final.reset_index(drop=True)

In [32]:
# dataframe clean-up

# shift columns names
df_final.rename(columns={df_final.columns[2]:df_final.columns[3], df_final.columns[3]:df_final.columns[4], df_final.columns[4]:df_final.columns[5], df_final.columns[5]:""}, inplace=True)

In [33]:
# remove nan columns
df_final.drop(df_final.columns[5], axis=1, inplace=True)

In [34]:
# cleaning up dataframe, filling empty cells in Issue column

# climate protection
df_final.iat[1,0] = df_final.iat[0,0]
df_final.iat[2,0] = df_final.iat[0,0]
df_final.iat[3,0] = df_final.iat[0,0]
df_final.iat[4,0] = df_final.iat[0,0]

# Fuels and raw material
df_final.iat[6,0] = df_final.iat[5,0]
df_final.iat[7,0] = df_final.iat[5,0]
df_final.iat[8,0] = df_final.iat[5,0]
df_final.iat[9,0] = df_final.iat[5,0]

# Employee health & safety
df_final.iat[10,0] = df_final.iat[10,0] + df_final.iat[11,0]
df_final.iat[11,0] = df_final.iat[10,0]
df_final.iat[12,0] = df_final.iat[10,0]
df_final.iat[13,0] = df_final.iat[10,0]
df_final.iat[14,0] = df_final.iat[10,0]
df_final.iat[15,0] = df_final.iat[10,0]
df_final.iat[16,0] = df_final.iat[10,0]
df_final.iat[17,0] = df_final.iat[10,0]
df_final.iat[18,0] = df_final.iat[10,0]
df_final.iat[19,0] = df_final.iat[10,0]

# Emission reduction
df_final.iat[20,3] = df_final.iat[20,2]
df_final.iat[20,2] = df_final.iat[20,1]
df_final.iat[20,1] = str(df_final.iat[20,0]).split("  ")[1] + str(df_final.iat[20,0]).split("  ")[2]
df_final.iat[20,0] = str(df_final.iat[20,0]).split("  ")[0]
df_final.iat[21,0] = df_final.iat[20,0]
df_final.iat[22,0] = df_final.iat[20,0]
df_final.iat[23,0] = df_final.iat[20,0]

# Local impacts
df_final.iat[25,0] = df_final.iat[24,0]

# Water
df_final.iat[29,0] = df_final.iat[28,0]
df_final.iat[30,0] = df_final.iat[28,0]
df_final.iat[31,0] = df_final.iat[28,0]
df_final.iat[32,0] = df_final.iat[28,0]
df_final.iat[33,0] = df_final.iat[28,0]
df_final.iat[34,0] = df_final.iat[28,0]

In [35]:
# replace Nan values with empty strings
df_final.fillna('', inplace=True)

### Final dataframe below which contains converted structured data

In [36]:
df_final

,Issue,Key Performance Indicator,Unit,Data,Coverage (% of clinker production)
0,Climate protection,Total CO emissions-gross,Million Tons,15.05,100
1,Climate protection,Total CO emissions – net,Million Tons,14.13,100
2,Climate protection,Speciﬁc CO emissions-gross,kg/ton cementitious material,557,
3,Climate protection,Speciﬁc CO emissions-net,kg/ton cementitious material,554,
4,Climate protection,Independent third-party assurance of CO data ...,,,
5,Fuels and raw material,Speciﬁc heat consumption of clinker production,,Kcal/kg Clinker,
6,Fuels and raw material,Alternative Fuel Rate,%,1.2,
7,Fuels and raw material,Biomass fuel rate,%,0,
8,Fuels and raw material,Alternative Raw Materials Rate,%,24.3,
9,Fuels and raw material,Clinker/Cement Ratio,%,69,
10,Employee health& safety,No. of fatalities (directly employed),Number,0,
11,Employee health& safety,"No. of fatalities per 10,000 directly Employed...",0,,
12,Employee health& safety,No. of fatalities (indirectly employed),Number,3,
13,Employee health& safety,No. of fatalities (3rd party),Number,3,
14,Employee health& safety,No. of Lost time injuries (directly employed) ...,0,,
15,Employee health& safety,Lost time injuries per 1m man-hours (directly ...,,0,
16,Employee health& safety,No. of lost time injuries (indirectly employed...,,2,
17,Employee health& safety,Lost time injuries per 1m man-hours (indirect...,Number,0.07,
18,Employee health& safety,Total no. of lost time injuries,Number,2,
19,Employee health& safety,Independent third-party assurance of safety da...,,Annual,
20,Emission reduction,Speciﬁc NOemissions,g/ton clinker,1064.84,
21,Emission reduction,Clinker produced with monitoring of major and ...,%,100,
22,Emission reduction,Clinker produced with continuous monitoring of...,%,100,
23,Emission reduction,Independent third-party assurance of emissions...,,,
24,Local impacts,Sites with quarry rehabilitation plans in place,,,
25,Local impacts,Sites with community engagement plans in place,%,,
26,Biodiversity KPI no.1,"Number of quarries within, containing, or adj...",,,
27,Biodiversity KPI no.2,Quarries with high biodiversity value where bi...,,,
28,Water,Total water withdrawal by source,3Million m,2.38,
29,Water,Total water discharge by quality and Destination,,3 Million m,0
30,Water,Destination: Surface water,3Million m,0,
31,Water,Destination: Water discharge for oﬀsite Treatment,,3 Million m,0
32,Water,Destination: Water discharge to others,3Million m,0,
33,Water,Total water consumption (for cement),3Million m,2.28,
34,Water,Percentage of sites with a water recycling system,,,

In [202]:
# export completed dataframe without index
df_final.to_csv('output.csv', index=False)

### Limitations of approach/algorithm: 
**This algorithm is specifically designed only to process inputs with similar semi-structure format and will not work for a different semi-structured data format or an unstructured data format.
There are a few limitations to this algorithm presently. These can be classified into present, and potential hypothetical limitations.**

**1)	Absence of coordinate columns**

*This algorithm works solely by string manipulation via regex and coordinate matching.*

**2)	Unstructured data**

*For unstructured data or different semistructured data format, a different algorithm has to be written to fit the bespoke nature of data transformation.*

**3)	Non-uniform structure of data**

*In the provided semi-structured data csv, certain rows have non-uniform coordinates which resulted in missing values or row-misplaced values in the final output.*

**4)	Special characters**

*The output does not have the same special characters as PDF*

### Key Observations
**In the final output, there are some observations that are worth highlighting.**

***1)	Not all data are populated***

*Missing values in certain cells due to non-uniformity of pdf coordinates.
The missing values have different X/Y coordinates from the referenced Dataframe element.*

***2)	Some elements are in the wrong column***

*As highlighted, these is due to the non-uniformity in the dataset, and a highlighted limitation of the algorithm used.*

***3)	Missing rows***

*The missing rows are due to the absence of a reference dataframe element.
E.g “Emission Reduction” element was concatenated with another element in the original semi-structured dataset and this affected the row referencing and non-population of 2 rows of data.*